body, html
{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: black;
    scroll-behavior: smooth;
}

/**
 * Navigation bar
 * @author Basilicous
*/
.nav-bar
{
    background-color: rgba(0, 0, 0, 0.342);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    list-style: none;
}


/**
 * Navigation bar UL
 * @author Basilicous
*/
.nav-bar ul
{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline;
}

/**
 * Navigation bar LI
 * @author Basilicous
*/
.nav-bar li
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: 'Jost', sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
}

/**
 * Navigation bar LI A
 * @author Basilicous
*/
.nav-bar li a
{
    text-decoration: none;
    color: white;

    background-color: rgba(0, 0, 0, 0.342);
    transition: background-color 0.25s ease-out 100ms
}

/**
 * Navigation bar LI A : HOVER
 * @author Basilicous
*/
.nav-bar li a:hover
{
    background-color: rgba(212, 212, 212, 0.432);
}

/**
 * Navigation bar ACTIVE
 * @author Basilicous
*/
.nav-bar .active::after
{
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%; 
    padding-top: 5px; 
    border-bottom: 2px solid rgb(0, 223, 186); 
}

/**
 * Text to be placed above hero image
 * @author Basilicous
*/
.hero-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 13px;
}

/**
 * P Text to be placed above hero image
 * @author Basilicous
*/
.hero-text p
{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;

    top: 20%;
}

/**
* Image to be placed below hero text
* @author Basilicous
*/
.hero-image
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero-background-min.png");
    filter: brightness(200%);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/**
* Image to be placed below hero text
* @author Basilicous
*/
.hero-image-about
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero-background-min.png");
    filter: brightness(200%);
    height: 75%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/**
 * Text to be placed above hero image
 * @author Basilicous
*/
.hero-text-about
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 13px;
}

/**
 * P Text to be placed above hero image
 * @author Basilicous
*/
.hero-text-about p
{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;

    top: 20%;
}

/**
 * project-list H3 Text to be placed above hero image
 * @author Basilicous
*/
.project-list h3
{
    font-size: 64px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 2px;
    top: 20%;
}

/**
 * project-list H4 Text to be placed above hero image
 * @author Basilicous
*/
.project-list h4
{ 
    font-size: 48px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 2px;
    top: 20%;
}

/**
 * LI to be placed above hero image
 * @author Basilicous
*/
.project-list
{
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: 'Jost', sans-serif;
    color: white;
}

/**
 * BUTTON to be placed above hero image
 * @author Basilicous
*/
.project-list .button
{
    
    background-color: rgb(0, 223, 186);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;

    transition: background-color 0.25s ease-out 100ms
}

/**
 * BUTTON A to be placed above hero image
 * @author Basilicous
*/
.project-list .button a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/**
 * BUTTON to be placed above hero image
 * @author Basilicous
*/
.project-list .button:hover
{
    background-color: rgb(123, 206, 192);
}


/**
 * LI to be placed above hero image
 * @author Basilicous
*/
.project-list ul
{
    list-style-type: none;
}

/**
 * LI to be placed above hero image
 * @author Basilicous
*/
.project-list li
{
    background-color: rgba(19, 19, 19, 0.445);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 1px;
    margin-bottom: 10px;
    border-left: rgb(0, 223, 186) solid 2px;
}

footer
{
    background-color: rgb(123, 206, 192);
    padding: 1px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-left: 5px solid rgb(95, 95, 95); 
}

.circle
{
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.445);
    position: relative;
    border: none;
    transform: rotate(90deg);
    display: inline-block;
}

.circle:before 
{
    content: '';
    display: inline-block;
    border-top: solid 10px transparent;
    border-left: solid 10px #FFF;
    border-bottom: solid 10px transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -3px;
}